<button type="button" class="hamburger-icon" (click)="toggleMenu()">
  <span class="hamburger-icon-bar"></span>
  <span class="hamburger-icon-bar"></span>
  <span class="hamburger-icon-bar"></span>
</button>

<!-- メニューを閉じるための背景 -->
<button type="button" class="menu-background" (click)="toggleMenu(false)"><span>メニューを閉じる</span></button>

<div class="wrapper">
  <div class="menu">
    <div class="menu-container">
      @if(isLoggedIn) {
        <app-menu />
      }
      @else {
        <div>ログインしてください</div>
      }
    </div>
  </div>
  <div class="contents">
    @if(isLoggedIn) {
      <router-outlet />
    }
    @else {
      <div class="login-form">
        <p><input type="password" [(ngModel)]="inputPassword" placeholder="Password"></p>
        <p><button type="button" (click)="onLogin()">Login</button></p>
      </div>
    }
  </div>
</div>
