.wrapper {
  --menu-width: 275px;
  
  height: 100%;
}

.hamburger-icon {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  background: #151834;
  outline: 0;
  cursor: pointer;
  z-index: 3000;
}
  @media (min-width: 992px) {
    .hamburger-icon { display: none; }
  }
  
  .hamburger-icon-bar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25px;
    height: 2px;
    background: #fff;
  }
  .hamburger-icon-bar + .hamburger-icon-bar {
    margin-top: 5px;
  }

.menu-background {  /* button */
  display: none;
}
.menu-background span { visibility: hidden; }  /* テキストは非表示 */
:host-context(.show-menu) .menu-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1000;  /* `.menu` より下・`.header` より上 */
  cursor: pointer;
}
  /* 幅が広い時：常に表示させない */
  @media (min-width: 992px) {
    :host-context(.show-menu) .menu-background { display: none; }
  }

.menu {
  position: fixed;
  top: 0;
  left: calc(var(--menu-width) * -1);
  width: var(--menu-width);
  height: 100%;
  overflow-y: auto;
  border-right: 2px solid #dcdcdc;
  background: #f2f4f7;
  transition: left .2s;
  z-index: 2000;
  -webkit-touch-callout: none;  /* iOS で長押ししてもポップアップメニューを開かせない */
}
  /* 幅が広い時は常時表示 */
  @media (min-width: 992px) { .menu { left: 0; } }
  /* 親 (`body`) 要素に `.show-menu` が付与されたらメニューを表示する */
  :host-context(.show-menu) .menu { left: 0; }

  /* 子要素でスクロールさせる */
  .menu-container {
    overflow-y: auto;
    height: 100%;
    padding: 0 .5rem;
    -webkit-overflow-scrolling: touch;
  }

.contents {
  margin-left: 0;
  padding: 0 1rem 1rem;
}
  /* メニュー表示時：メニュー幅分の余白を開ける */
  @media (min-width: 992px) {
    .contents {
      margin-left: var(--menu-width);
    }
  }
