h1 {
  position: sticky;
  top: 0;
  margin: 0;
  padding: .5rem 0;
  font-size: 1.5rem;
  background: #fff;
}

.post {
  margin: .75rem 0;
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: .75rem;
  color: #1d1c1d;
  word-break: break-all;
}

.image img {
  border-radius: 4px;
}

.user-name {
  font-weight: bold;
  margin-right: 1rem;
}

.post-time {
  color: #616061;
  font-size: .8rem;
}

.post-text {
  white-space: pre-wrap;
}
